.navbar1 {
  color: white;
  font-size: 22px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: rgb(0, 0, 0);
  &.admin {
    background-color: black;
    font-size: 16px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  .container-fluid {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      padding-left: 50px;

      img {
        height: 85px;
        margin-right: 50px;
      }
      span {
        margin-right: 20px;
        cursor: pointer;
        padding: 15px;
      }
      .dropdown {
        .options {
          display: none;
          background-color: black;
          border-radius: 5px;
        }

        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
        }
      }
    }
    .right {
      padding-right: 40px;
      display: flex;
      align-items: center;
      img {
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
      }
      span {
        padding: 10px;
      }
    }
  }
}
