.studentRegister {
  height: 100vh;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    url("https://i.ibb.co/SKrzNpC/teahub-io-lilac-wallpaper-165113.jpg");
  background-size: cover;
}

.registerTitle {
  font-size: 50px;
  margin-top: 50px;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.596);
  border-radius: 10px;
  color: white;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  align-self: center;
  margin-bottom: 20px;
  margin-top: 10px;
  cursor: pointer;
  background-color: teal;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
  width: 20%;
}

.registerLoginButton {
  position: absolute;
  top: 160px;
  right: 60px;
  background-color: lightcoral;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
}

.formItemscol {
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  /* margin: 20px; */
}
.formcol {
  display: flex;
  flex-direction: row;
}

.address {
  height: 50px;
}

.formInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.error {
  padding: 3px;

  visibility: hidden;
}

input:invalid[focused="true"] {
  border: 2px solid red;
}

input:invalid[focused="true"] ~ .error {
  visibility: visible;
  color: rgb(0, 0, 0);
  font-size: 16px;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}
